/* footer.css */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Размещаем футер внизу страницы */
}

.footer-container a {
    color: #00bcd4;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}